# Copy variables to .env file and fill it with your own values

# JWT token
SECRET_KEY = "your_secret_jwt_key_here" # Min. 32 bytes
ALGORITHM = "hash_algorithm" # HS256, HS384, HS512
ACCESS_TOKEN_EXPIRE_MINUTES = 1
REFRESH_TOKEN_EXPIRE_DAYS = 1

# Default user password
SEED_USER_PASSWORD = "dev_password"